/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Beginning of my rule sets for index.html*/

body {
	background-color: #0b0c10;
	color: #c5c6c7;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 62.5%;
}

h1 {
	font-size: 2.4em;
	color: #66fcf1;
	margin-bottom: 20px;
	text-transform: capitalize;
}

h1 span {
	color: red;
}

h2 {
	font-size: 1.5em;
	font-weight: bold;
	text-transform: capitalize;
	margin-top: 10px;
}

h3 {
	font-size: 1.2em;
	font-weight: bold;
	text-transform: capitalize;
	margin-bottom: 5px;
	margin-top: 10px;
}

p {
	margin-top: 0;
	margin-bottom: 5px;
	font-size: 1.2em;
	line-height: 150%;
}

main, header {
	padding: 20px;
	text-align: left;
	width: 850px;
}

ul {
	font-size: 1.2em;
	list-style-type: disc;
}

li {
	margin-bottom: 10px;
}

a {
	color: #45A29E;
}

.intro {
	border: 2px solid #45A29E;
}

.img {
	margin: 10px;
	border: 1px solid #45A29E;
	padding: 10px;
}

.caption {
	font-size: 1em;
	font-weight: bold;
	text-transform: capitalize;
	margin-bottom: 5px;
	padding: 10px;
}

span {
	font-weight: bold;
	font-style: italic;
	text-transform: lowercase;
}

footer p {
	text-transform: capitalize;
}
